<div class="calcWrapper">
  <div id="output">Output:
    <span id="outputVal">{{calculatedResult}}</span>
  </div>
  <div id="input">
    <input type="text" name="firstNumber" id="firstNumber" [(ngModel)]="firstNumber" placeholder="Num 1" (keyup)="verify($event)"
    />
    <input type="text" name="operator" style="text-align:center;" id="operator" placeholder="Operator" [(ngModel)]="operator" (keyup)="verifyOperator($event)"
    />
    <input type="text" name="secondNumber" id="secondNumber" placeholder="Num 2" [(ngModel)]="secondNumber" (keyup)="verify($event)"
    />
    <br />
    <div id="buttonSubmit"><button [disabled]="buttonDisabled" (click)="calculate()">Submit</button></div>
    
  </div>
</div>