<div class="wrapper">
  <div class="howtouse">
    <h1>
      Please follow the following steps to use this calculator:
    </h1>
    <ul>
      <li>Enter a number into
        <b>First number </b> field</li>
      <li>Enter the operation to perform in
        <b> Operation </b> field</li>
      <li>Enter another number in
        <b>Second number</b> field</li>
      <li>Click
        <b>Submit</b> button</li>
    </ul>
  </div>
  <div class="calculator">
    <app-calculator></app-calculator>
  </div>
</div>